<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Файл добавлен</title>
</head>
<body>
<style>
  a {
    color: #2e8063;
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s;
  }
  a:hover {
    font-size: 105%;
  }
</style>
<div style="margin: 150px auto 0; width: fit-content; padding: 20px; border-radius: 10px; background-color: #e7e6e6">
  <ul style="display: flex; list-style-type: none; padding: 0; gap: 10px">
    <li>
      <a href="/">На главную</a>
    </li>
    <li>
      <a href="/get">Посмотреть файл</a>
    </li>
  </ul>
  <h3>Файл добавлен</h3>
</div>
</body>
</html>